<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  id="cordova-icloud" 
  version="1.0.0">

    <name>iCloud plugin</name>
    <description>Adds iCloud entitlements</description>

    <engines>
        <engine name="cordova" version=">=3.8.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <hook type="after_plugin_install" src="hooks/after_plugin_install.js" />
    </platform>

</plugin>